---
import Home from "@pages/index.astro";
---

<Home>
  <h2>Clases utilities del IB-DS</h2>
  <p>
    Explora las utilidades CSS del Design System IB-DS para facilitar la
    maquetación y el diseño de tus páginas.
  </p>
</Home>
