---
import Home from "@pages/index.astro";
---

<Home>
  <h2>Clases base del IB-DS</h2>
  <p>
    Consulta aquí las clases base proporcionadas por el Design System IB-DS para
    estructurar y dar estilo a tus componentes.
  </p>
</Home>
