---
import Home from "@pages/index.astro";
---

<Home>
  <h2>¿Cómo añadir CSS del IB-DS a nuestro proyecto?</h2>
  <p>
    En esta página aprenderás a importar y utilizar los estilos globales del
    Design System IB-DS en tu proyecto Astro.
  </p>
</Home>
