---
import Home from "@pages/index.astro";
---

<Home>
  <h2>¿Cómo añadir un WC del IB-DS a nuestro proyecto?</h2>
  <p>
    Descubre cómo integrar y utilizar los Web Components del Design System IB-DS
    en tus páginas Astro.
  </p>
</Home>
