---
import Home from "@pages/index.astro";
---

<Home>
  <h2>CSS layouts del IB-DS</h2>
  <p>
    Descubre los layouts CSS que el Design System IB-DS pone a tu disposición
    para estructurar tus aplicaciones.
  </p>
</Home>
