---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h2>Home</h2>
  <p>Bienvenido a la página de inicio.</p>
  <ul>
    <li>
      <a href="/sub-home/como-anadir-css-ibds"
        >¿Cómo añadir CSS del IB-DS a nuestro proyecto?</a
      >
    </li>
    <li>
      <a href="/sub-home/como-anadir-wc-ibds"
        >¿Cómo añadir un WC del IB-DS a nuestro proyecto?</a
      >
    </li>
    <li><a href="/sub-home/clases-base-ibds">Clases base del IB-DS</a></li>
    <li>
      <a href="/sub-home/clases-utilities-ibds">Clases utilities del IB-DS</a>
    </li>
    <li><a href="/sub-home/tokens-ibds">Tokens del IB-DS</a></li>
    <li><a href="/sub-home/css-layouts-ibds">CSS layouts del IB-DS</a></li>
    <li><a href="/sub-home/assets-ibds">Assets</a></li>
  </ul>
  <slot />
</Layout>
